$border: 1.8px solid black;

.mig-schema-form-body {
  .input__error {
    margin-top: 4px;
    color: red;
  }

  &__prop {
    margin-bottom: 1rem;
  }

  label {
    position: relative;
  }

  input {
    border-radius: 5px;
    padding: 5px;
    border: $border;
    width: 95%;
  }

  select {
    border-radius: 5px;
    padding: 5px;
    border: $border;
    width: 100%;

    .select-option-disabled {
      color: red;
      cursor: no-drop;
    }
  }

  .required-star-icon {
    color: red;
  }

  textarea {
    border-radius: 5px;
    border: $border;
    width: 95%;
    padding: 5px;
  }

  .input-error {
    border-color: red;
  }

  .errorMessage {
    color: red;
    font-size: 12px;

    &::first-letter {
      text-transform: capitalize;
    }
  }

  .form-title {
    font-size: 25px;
    font-weight: bold;
  }
}

.mig-schema-form-group {
  margin-bottom: 1rem;
  &__labeled-control {
    display: flex;
    align-items: center;
  }

  &__error {
    color: red;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  &--error {
    input,
    textarea {
      border: 1px solid red;
    }
    label {
      color: red;
    }
  }

  label {
    display: block;
    width: 180px;
    user-select: none;
  }

  textarea {
    width: 100%;
  }

  &--type-boolean {
    display: flex;
    label {
      display: flex;
    }
    input {
      margin-right: 1rem;
      width: 12px;
    }
    width: auto;
  }

  &__helper-text {
    color: #bbb;
    font-size: 11px;
  }
}

@media only screen and (max-width: 700px) {
  .mig-schema-form {
    .item {
      flex-direction: column;
    }
  }
}
